{% extends 'dem/base.html' %}
{% load staticfiles %}

{% block title_block %}
  {{ user.username }} : Assignments
{% endblock %}

{% block body_block %}
<h1>{{ user.username }}'s Assignments</h1>
  {% if assignments %}
    <table border="1" cellpadding="5" cellspacing="5">
      <tr>
        <th>Title</th>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
      {% for assignment in assignments %}
        <tr>
          <td><a href="{% url 'dem:show_mission' assignment.mission.slug %}">{{assignment.mission.title}}</a></td>
          <td>{{assignment.lat_coord}}</td>
          <td>{{assignment.lng_coord}}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <strong>No assignments for you.</strong>
  {% endif %}
{% endblock %}
